
div.login{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    width: 500px;
    height: 100vh !important;
    margin: auto;
}

@media screen and (max-width: 768px){
    div.login{
        width: 80%;
        margin: auto;
    }
}
    
