.menu {
    background: linear-gradient(210deg, #65abfc, #2376D7);
    position: sticky;
    top: 0;
    z-index: 1;
    height: 15vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* width: 100%; */
}

.menu .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: auto;
}

.menu button {
    background: none;
    border: none;
    border-radius: 10px;
    width: 4rem;
    height: 4rem;
    color: white;
    transition: background-color .2s ease-in-out;
}

.menu-colapse {
    width: 100%;
    height: 100%;
    position: relative;
}
a{
    border-radius: 10px;
}

a:hover{
    background: #2069bd;
    transition: background-color .2s ease-in-out;
}

a.active{
    color: #2376D7 !important;
    background: white;
}

.menu-colapse ul {
    padding: 2rem;
    display: flex;
    width: 100%;
    min-width: 75vw;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
    color: white;
    height: 85vh;
}

.menu-colapse .dontbreak {
    position: fixed;
    bottom: 0;
    overflow-x: hidden;
    background: #2376D7;
    right: 0;
    width: auto;
    max-width: 0%;
    transition: .3s ease;
    /* max-width: 0; */
}

.menu-colapse.ativo .dontbreak {
    max-width: 75vw;
}


.menu-colapse h5 {
    font-weight: 300;
    font-size: 1rem;
    line-height: normal;
}

.menu ul.nav{
    display: none;
}

.img_container {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

img {
    width: 100%;
    /* object-fit: contain; */
}


@media screen and (max-width: 952px) and (min-width: 768px) {
    .menu .box{
        flex-direction: column;
        gap: 30px;   
    }

    .menu{
        height: auto !important;
        padding: 1.5rem 0;
    }
}

@media screen and (min-width: 768px) {
    .menu {
        height: 12vh;
        background: #2376D7;
        box-shadow: none;
    }

    .menu button{
        display: none;
    }

    .menu ul.nav{
        display: flex;
    }
    

    nav.menu ul.nav li{
        cursor: pointer;
    }

    nav.menu ul.nav li a{
        color: white;
    }
    .img_container {
        width: 100px;
    }
}