.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
    background: #2376D7;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 15vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
}

.menu button{
    background: none;
    border: none;
    font-size: 2.5rem;
    border-radius: 10px;
    width: 4rem;
    height: 4rem;
    color: white;
    transition: background-color .2s ease-in-out;
}

.menu button:hover{
    background: #1b589e;
}

.menu-colapse{
    width: 100%;
    height: 100%;
    /* width: 100vw; */
    /* height: 100vh; */
    position: relative; 
}

.menu-colapse ul{
    padding: 2rem;
    display: flex;
    width: 100%;
    min-width: 75vw;
    flex-direction: column;
    overflow: hidden;
    color: white;
    height: 85vh;
}
.menu-colapse .dontbreak{
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    top: 0;
    overflow-x: hidden;
    background: #2376D7;
    right: 0;
    width: auto;
    max-width: 0%;
    transition: .3s ease;
    /* max-width: 0; */
}

.menu-colapse.ativo .dontbreak{
    max-width: 75vw;
}


.menu-colapse h5{
    font-weight: 300;
    font-size: 1rem;
    line-height: normal;
}

.menu .item{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rebeccapurple;
}

.img_container{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 100%;
    /* object-fit: contain; */
}

@keyframes menutoogleOpen {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes menutoogleClose {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}