.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
    background: #2376D7;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 15vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
}

.menu button{
    background: none;
    border: none;
    font-size: 2.5rem;
    border-radius: 10px;
    width: 5rem;
    height: 5rem;
    color: white;
    transition: background-color .2s ease-in-out;
}

.menu button:hover{
    background: #1b589e;
}

.menu-colapse{
    position: relative; 
}

.menu-colapse ul{
    margin: 0;
    padding: 0;
    background: #2376D7;
    color: white;
    height: 85vh;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-colapse .container{
    width: 0;
    height: 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 200px;
    transition: width .2s ease-in-out;
}

.menu-colapse.ativo .container{
    width: 75%;
    padding: 2rem;
    overflow: visible;
}


.menu-colapse h5{
    font-weight: 300;
    font-size: 1rem;
    line-height: normal;
}

.menu .item{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rebeccapurple;
}

.img_container{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 100%;
    /* object-fit: contain; */
}
