.reserva {
    border: 1px solid #2376D7;
    border-radius: 10px;
}

.reserva.ativo aside {
    height: auto;
    width: auto;
    margin: 30px;
    max-height: 1200px;
}

.reserva header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-radius: 10px 10px 0 0;
    transition: all 0.2s ease;
    cursor: pointer;
}

.reserva header h1:first-child {
    font-size: 1.4rem;
    color: #2376D7;
    font-weight: 400;
}

.reserva header h1.ativa {
    color: #6FB98F;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.reserva header h1.inativa {
    color: #E55454;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.reserva aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 0;
    width: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.reserva aside span {
    font-weight: bolder;
}

.reserva aside section {
    display: flex;
    justify-content: space-between;
    color: #2376D7;
}

.reserva.ativo header {
    background: #2376D7;
}

.reserva.ativo header>h1 {
    color: white;
}


@media screen and (min-width: 768px) {
    .reserva .justificativa {
        width: 60% !important;
    }
}