section.filters select {
    background: none;
    border: 1px solid gray;
    font-weight: 400;
    border-radius: 10px;
    font-size: 1rem;
    height: 100%;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.blocos button {
    width: 2.5rem;
    height: 2.5rem;
    padding: 1.5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2376D7;
    font-weight: 600;
    border: 1px solid #2376D7 !important;
    background: none !important;
    border-radius: 10px;
    cursor: pointer;
}

.blocos button.ativo {
    background: #2376D7 !important;
    border: none !important;
    color: white !important;
}

div.icons {
    display: none;
}

@media screen and (min-width: 768px) {
    section.filters {
        flex-direction: row !important;
        flex-direction: row-reverse !important;
        justify-content: start;
    }

    div.icons {
        display: flex;
        gap: 20px;
    }
}