
section.filters{
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 30px;
}

section.filters .period{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

section.filters select{
    /* appearance: none; */
    border: 1px solid gray;
    font-weight: 700;
    border-radius: 10px;
    background: none;
    font-size: 1.2rem;
    padding: 1rem;
}

section.filters select:last-child{
    flex-grow: 2;
}

section.filters .blocos{
    display: flex;
    gap: 30px;
}

section.filters .blocos button{
    padding: 1rem;
    color: #2376D7;
    font-weight: 600;
    border: 1px solid #2376D7;
    background: none;
    border-radius: 10px;
    cursor: pointer;
} 

section.filters .blocos button.ativo{
    background: #2376D7;
    border: none;
    color: white;
}

main{
    margin: 0 30px;
}

main h5{
    font-size: 1.3rem;
    padding: 0 0 15px 5px;
}

section.lista_sala{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


