.load {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .notem{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid #f3f3f3; /* Cor da borda */
    border-top: 4px solid #3498db; /* Cor da borda do topo */
    animation: spin 1s linear infinite; /* Animação de rotação */
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }