.queixa{
    border: 1px solid #2376D7;
    border-radius: 10px;
}

.queixa.ativo aside{
    height: auto;
    width: auto;
    margin: 30px;
    max-height: 1200px;
}

.queixa header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-radius: 10px 10px 0 0 ;
    transition: all 0.2s ease;
    cursor: pointer;
}

.queixa header h1{
    font-size: 1rem;
    max-width: 60%;
    color: #2376D7;
    font-weight: 400;
}

.queixa header h1:last-child{
    font-weight: bolder;
    color: #1B2845;
}

.queixa header h1.ativa{
    color: #6FB98F;
    font-size: 1.1rem;
    text-transform: capitalize;
}
.queixa header h1.inativa{
    color: #E55454;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.queixa aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 0;
    width: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}
.queixa aside span{
    font-weight: bolder;
}

.queixa.ativo header{
    background: #2376D7;
}
.queixa.ativo header > h1{
    color: white;
}