
div.cadastrar{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    width: 80%;
    height: 100vh !important;
    margin: auto;
}

/* div.cadastrar form{
    height: 80vh;
    overflow: auto;
} */

div.cadastrar a:hover{
    background: none !important;
}

@media screen and (max-width: 768px){
    div.cadastrar{
        width: 80%;
        margin: auto;
    }
}
    
