.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    background: #2376D7;
}

.menu ul{
    display: none;
}

.menu button{
    background: none;
    border: none;
    font-size: 2.5rem;
    color: white;
}

.img_container{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 100%;
    /* object-fit: contain; */
}
