.modalyuri {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content/Box */
.modal_content {
    background-color: #fefefe;
    /* 15% from the top and centered */
    margin: 0 30px;
    width: 100%;
    max-height: 70%;
    /* margin: auto 0; */
    border-radius: 10px;
    overflow: auto;
    /* Could be more or less, depending on screen size */
}

.modalyuri .modal_header {
    position: fixed;
    width: calc(100% - 60px);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    background: #2376D7;
    border-radius: 10px 10px 0 0;
}

.modalyuri .modal_header div{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-24px);
}

.modalyuri .modal_header h1{
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
}

.modalyuri .modal_header button {
    padding: 25px;
    background: none;
    /* background: #4fa1ff; */
    border: none;
    color: white;
}

.modalyuri .modal_header button img{
    width: 100%;
    object-fit: contain;
}

.modalyuri .modal_header h3{
    font-weight: 700;
    color: white;
    font-size: 0.9rem;
}
.modalyuri section{
    padding: 0 30px;
    margin: 80px 0px 30px 0;
}

.modalyuri section form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.modalyuri section form .input_group{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modalyuri section form .input_radio{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 5px;
}

.modalyuri section form input[type="checkbox"]{
    width: 25px;
    border-radius: 20px;
    border-color: #2376D7;
}

.modalyuri section form select{
    /* appearance: none; */
    background: none;
    border: 1px solid gray;
    font-weight: 400;
    border-radius: 10px;
    font-size: 1rem;
    padding: 1rem;
}

.modalyuri section form textarea{
    /* appearance: none; */
    background: none;
    border: 1px solid gray;
    font-weight: 400;
    border-radius: 10px;
    font-size: 1rem;
    padding: 1rem;
}

.modalyuri section form label {
    color: #305C90;
    padding: 1rem 0;
}

.modalyuri section form button{
    width: 60%;
    align-self: center;
    border: none;
    height: 3.5rem;
    /* background:#6FB98F; */
    color: white;
    border-radius: 8px;
    font-size: 1rem;
}